// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project
$green-light: #3fd03f;
$green: #35aa4e;
// $green-dark: #2b8a31; // Brand color from wiki
$green-dark: #29802f; // Darkened for sufficient contrast against white
$blue-light: #68a2e3;
$blue: #4180c7;
$blue-dark: #0c62c2;
$yellow: #ecdf13;
$yellow-dark: #d8cb01;
$orange: #fd880b;
$orange-dark: #d86601;

// Styleguide
.sg-colors {
  display: flex;
  flex-wrap: wrap;
}

.sg-colors__list {
  list-style: none;
  margin: 1rem 0.5rem;
  text-align: center;
}

.sg-colors__color {
  padding: 4rem;

  // Grayscale
  &--white {
    background-color: $white;
  }

  &--near-white {
    background-color: $near-white;
  }

  &--gray-lightest {
    background-color: $gray-lightest;
  }

  &--gray-lighter {
    background-color: $gray-lighter;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  &--gray {
    background-color: $gray;
  }

  &--gray-dark {
    background-color: $gray-dark;
  }

  &--gray-darker {
    background-color: $gray-darker;
  }

  &--black {
    background-color: $black;
  }

  // Branding
  &--green-light {
    background-color: $green-light;
  }

  &--green {
    background-color: $green;
  }

  &--green-dark {
    background-color: $green-dark;
  }

  &--blue-light {
    background-color: $blue-light;
  }

  &--blue {
    background-color: $blue;
  }

  &--blue-dark {
    background-color: $blue-dark;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--yellow-dark {
    background-color: $yellow-dark;
  }

  &--orange {
    background-color: $orange;
  }

  &--orange-dark {
    background-color: $orange-dark;
  }
}

.sg-info {
  padding: 1rem;

  code {
    background-color: #eee;
    padding: 0.15rem 0.25rem;
    display: block;
    margin-top: 0.25rem;
  }
}
