.cta {
  background-color: color('gray-300');
  padding: $space-triple;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;

  &__button {
    @include button;
  }

  &--home {
    background: url('https://source.unsplash.com/PoE6Q48B-5k/1100x800')
      no-repeat center center;
    background-size: cover;
    padding: 12rem 0;
    position: relative;

    &::before {
      content: '';
      background: color('primary-transparent-600');
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .cta__heading {
      position: relative;
      color: color('white');
    }

    .cta__button {
      @include button(color('warning-600'));

      position: relative;
    }
  }
}
