/* Toggle */
.toggle-expand {
  @include link;
  color: color('gray-800');
  align-self: stretch;

  &:hover {
    color: color('gray-600');
  }

  @include medium {
    display: none;
  }

  display: flex;
  padding: 0 $space;
  text-decoration: none;
  text-align: center;
  width: 20vw;

  /* See main-menu.js */
  &--open {
    background-color: color('gray-600');
  }
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: $font-heading;
  line-height: 1;

  .toggle-expand--open & {
    color: $white;
  }
}

/* SVG icon */
.toggle-expand__icon {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
}

.toggle-expand__open {
  display: inline-block;
  text-align: center;
  align-self: center;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  display: none;
  text-align: center;
  align-self: center;

  &::before {
    color: $white;
    content: 'X';
    display: block;
    font-size: 2.5rem;
    line-height: 1.3;
  }

  .toggle-expand--open & {
    display: inline-block;
  }
}
