$color-news--highlight-accent: color('gray-600');
$color-news--highlight-base: $white;

.news-card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 2px;
  transition: all 0.15s;
  border: 1px solid color('gray-300');

  &:hover {
    box-shadow: 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802),
      0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0 100px 80px rgba(0, 0, 0, 0.07);
  }

  &__content {
    @include space-inset-l;

    order: 1;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  &__heading {
    @include heading-medium;
  }

  &__heading-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subheading {
    @include heading-small;

    color: $color-news--highlight-accent;
    font-weight: normal;
  }

  &__body {
    font-size: 1rem;
  }

  &__image {
    .image {
      border-radius: 2px 2px 0 0;

      img {
        width: 100%;
      }
    }
  }

  &__link {
    @include button(
      $bg: $color-news--highlight-accent,
      $color: $color-news--highlight-base
    );

    margin-top: auto;
  }

  &__meta {
    position: relative;

    &--details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      font-family: $font-heading;
      font-weight: 700;
      color: $color-news--highlight-base;
    }
  }

  &__date {
    align-self: flex-end;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: color('primary-500');
    border-radius: 2px;
    margin: 0.4rem -0.5rem 0 0;
    padding: 1rem;
  }

  &__day {
    font-size: 1.6rem;
    line-height: 1;
  }

  &__month {
    text-transform: uppercase;
  }

  &__tag {
    @include space-inset-squish-s;

    margin: 0;
    background: color('gray-transparent-600');
    border-radius: 0 2px 0 0;
    text-transform: uppercase;
  }
}
