.header {
  &__primary {
    @include wrapper($v-padding: $space, $h-padding: $space);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $space 0;
  }

  &__branding {
    margin-right: $space;
    max-width: 300px;
  }
}
