@mixin button(
  $bg: color('primary-400'),
  $color: color('white'),
  $hoverBg: darken($bg, 10%),
  $hoverColor: color('white')
) {
  background-color: $bg;
  border: none;
  border-radius: 2px;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: $space-one-half $space;
  display: inline-block;
  text-decoration: none;
  text-align: center;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
  }
}

@mixin button-alt {
  font-weight: 600;
  font-size: 0.7rem;
}

@mixin button-alt-2 {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    color: color('white');
  }
}

.button {
  @include button;

  &--alt {
    @include button($orange);
    @include button-alt;
  }

  &--alt-2 {
    @include button($green);
    @include button-alt-2;
  }
}
