// This css is paired with the js in `background-image.js` to allow us
// to use fully responsive background images that are not possible with css alone.
// Read that file for a little more detail.
[data-responsive-background-image] {
  background-size: cover;
  background-position: center center;
}

[data-responsive-background-image--src] {
  display: none;
}

.cl-example {
  [data-responsive-background-image] {
    padding-bottom: 56.25%; // 16:9 ratio
  }

  .background-image--with-content {
    @include space-inset-l;

    div {
      @include space-inset-m;

      background-color: $gray-lightest;
    }
  }
}
