$background-image-xs: 34rem;

$background-image-full: (
  margin-left: calc(-50vw + 50%),
  margin-right: calc(-50vw + 50%),
);

$background-image-contained: ();

@mixin background-image($variation, $position: relative) {
  position: $position;
  margin-left: map-get($variation, margin-left);
  margin-right: map-get($variation, margin-right);
  height: 100%;
  top: 0;
  left: 0;
  min-height: $background-image-xs;
  background-size: cover;
  background-position: center center;
}

.background-image-wrapper {
  @include background-image($variation: $background-image-full);
}

[data-responsive-background-image] {
  background-size: cover;
  background-position: center center;
  padding-bottom: 56.25%; // 16:9 ratio
}

[data-responsive-background-image] img {
  display: none;
}
