@mixin background-image {
  & {
    position: relative;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__image img,
  &__image picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
  }
}

.background-image {
  @include background-image;
}

.cl-example {
  .background-image {
    padding-bottom: 56.25%; // 16:9 ratio
  }

  .background-image--with-content {
    @include background-image;
    @include space-inset-l;

    &__content {
      @include space-inset-m;

      background-color: color('gray-300');
    }
  }
}
