/*
 * General Layout
*/

$sidebar-width: 25%;
$gutter: $space * 7;
$main-width: 50%;

.main {
  @include wrapper;

  display: flex;
  flex-flow: row wrap;
  margin-bottom: 4em;
}

.main-sidebar {
  margin-bottom: $space-double;
  flex: 0 1 100%;

  @include large {
    flex-basis: $sidebar-width;
    order: 2;
    margin-bottom: 0;
  }
}

.main-content {
  flex: 1 1 100%;

  @include large {
    &--with-sidebar {
      margin-right: $gutter;
      flex-basis: $main-width;
    }
  }
}
