.hero {
  @include space-stack-m;

  flex: 0 0 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 4rem;
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding-bottom: $space;
  position: relative;

  &::before {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
  }

  &__content {
    @include wrapper;

    position: relative;
    display: flex;
    justify-content: center;
  }

  &__content-inner {
    @include space-inset-m;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__heading {
    color: color('white');
    font-size: 4rem;
    font-family: $font-body;
    line-height: 1;
    margin: 0;

    @include breakpoint($large) {
      font-size: 6rem;
    }
  }
}

.hero__image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  img,
  picture {
    object-fit: cover;
    width: 100%;
  }
}
