.hero {
  @include space-stack-m;

  flex: 0 0 100vw;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 4rem;
  min-height: 70vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: $space;
  position: relative;

  &::after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    z-index: 0;
  }

  &__content {
    @include wrapper;

    display: flex;
    justify-content: center;
    z-index: 10;
  }

  &__content-inner {
    @include space-inset-m;

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__h1 {
    color: $white;
    font-size: 4rem;
    font-family: $font-body;
    line-height: 1;
    margin: 0;

    @include breakpoint($large) {
      font-size: 6rem;
    }
  }
}
